<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'font.css' %} ">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <nav id="myTopnav">
        <div class="logo logo-show-sm">
            <a href="/homepage"><img src="{% static "images/logo.svg" %}" alt=""></a>
        </div>
        <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="myFunction()">&#9776;</a>
        <ul class="menu">
            <li>
                <a href="/homepage">Home</a>
            </li>
            <li>
                <a href="/aboutus">About</a>
            </li>
            <li>
                <a href="/products">Shop</a>
            </li>

            <li class="logo logo-show-md">
                <a href="/homepage"><img src="{% static "images/logo.svg" %}" alt=""></a>
            </li>
            <li>
                <a href="/shipping">Shipping</a>
            </li>
            <li>
                <a href="/contactus">Contact</a>
            </li>
            <!-- <li>
                                                                                                                                                                                                    <label for="search">Search for stuff</label>
                                                                                                                                                                                                    <input id="search" type="search" placeholder="Search..." autofocus required/>
                                                                                                                                                                                                    <button type="submit">Go</button>
                                                                                                                                                                                                </li> -->


        </ul>

        <ul class="cartMenu">
            <li>
                <a href="/cart" class="cartIcon">
                    <i class="fa fa-shopping-cart fa-lg"></i>
                </a>
            </li>
        </ul>

    </nav>


    {%block content%}

    {%endblock%}

    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
        <i class="fa fa-whatsapp my-float" aria-hidden="true"></i>
    </a>
    <div class="botnavContainer">
        <div class="botnav">
            <div class="link">
                <a class="home" href="/homepage">Home</a>
                <a href="/aboutus">About us
                </a>
                <a href="/products">Shop</a>
                <a href="/shipping">Shipping</a>
                <a href="/contactus">Contact</a>
            </div>
            <h3>
                Don't forget to follow us on:
            </h2>
            <a href="#" class="facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/miettesdart/?hl=en" class="instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </div>

    </div>

</body>
