{% extends "miettes/basecheckout.html" %} {% load static %} {% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="{% static 'css/checkout.css' %} " />

<form method="POST">
  {% csrf_token %}
  <div class="contact-info">
    <h2 class="h2-infoLabel">Contact Information</h2>

    <div class="input-container">
      <label for="email" class="inputLabel"> Email</label>
      <input type="text" id="email" name="email" />
    </div>

    <div class="fullName">
      <div class="input-container fname">
        <label for="fname" class="inputLabel"> First Name</label>
        <input type="text" id="fname" name="fname" />
      </div>

      <div class="input-container lname">
        <label for="lname" class="inputLabel"> Last Name</label>
        <input type="text" id="lname" name="lname" />
      </div>
    </div>
  </div>
  <div class="shipping-info">
    <h2 class="h2-infoLabel">Shipping Information</h2>

    {% for field in form %}

    <div class="input-container">
      <label for=" {{ field.label }}" class="inputLabel">
        {{ field.label_tag }}</label
      >
      {{ field }}
    </div>

    {% endfor %}
  </div>

  <div class="process-button">
    <input type="submit" value="Process Order" id="processBtn" />
  </div>
  {% endblock %}
</form>
