<style>
    .alert {
      padding: 20px;
      background-color: #bf9191;
      color: white;
      margin-top: 20px;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1s;
    }
  
    @keyframes fadeInOpacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    .closebtn {
      margin-left: 15px;
      color: rgb(68, 76, 87);
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
  
    .closebtn:hover {
      color: black;
    }
  </style>
  
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
    <strong></strong> We're sorry, but we cannot process your request at the moment
    
  </div>
  