{%extends 'miettes/basedev.html'%}

{% load static %}


{%block content%}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %} ">

<section id="cover-photo">
    <img src="{%static 'images/discover.jpeg'%}" class="coverImg">


</section>


<section title="picks" class="slider-picks">
    <h1 class="slider-title reveal-vertical">Taymaa and Sarah's Picks</h1>
    <div class="scrolling-wrapper reveal-horizontal">
        {% csrf_token %}
        {% if Picks%}
            {%for pick in Picks%}
                <div class="card">

                    <img src={{pick.Image}} class="cardImg">
                    <h2 class="productTitle">{{pick.Name}}</h2>
                    <h3 class="productPrice">{{pick.PriceLBP}}</h3>
                </div>
                {%endfor%}
                {%endif%}

            <!-- <div class="card"> -->
                <!-- 
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div>
                                                                                                    <div class="card">
                                                                                            
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div>
                                                                                                    <div class="card">
                                                                                            
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div>
                                                                                                    <div class="card">
                                                                                            
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div>
                                                                                                    <div class="card">
                                                                                            
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div>
                                                                                                    <div class="card">
                                                                                            
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div>
                                                                                                    <div class="card">
                                                                                            
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div>
                                                                                                    <div class="card">
                                                                                            
                                                                                            
                                                                                                        <img src="{%static 'images/discover.jpeg'%}" class="cardImg">
                                                                                                        <h2 class="productTitle">Product Name</h2>
                                                                                                        <h3 class="productPrice">$ 43.99</h3>
                                                                                                    </div> -->
            </div>

        </section>


        <section title="byCollection" class="collectionSection reveal-vertical">
            <h1 class="slider-title">
                Shop By Collection</h1>
            <div class="cards">
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>


                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">
                </div>
                <div class="cardCollection">
                    <h2 class="collection-title">Collection name</h2>

                    <img src="{%static 'images/discover.jpeg'%}" class="cardCollectionImg">TWELVE</div>
            </div>
        </section>


        <script>
            function reveal() {

                var reveals = document.querySelectorAll(".reveal-horizontal, .reveal-vertical");
                for (var i = 0; i < reveals.length; i++) {
                    var windowHeight = window.innerHeight;
                    var elementTop = reveals[i].getBoundingClientRect().top;
                    var elementVisible = 150;
                    if (elementTop < windowHeight - elementVisible) {
                        reveals[i].classList.add("active");
                    } else {
                        reveals[i].classList.remove("active");
                    }
                }
            }
            function changeNavBarColor() {
                var topper = window.pageYOffset || document.documentElement.scrollTop;
                var navbar = document.getElementById("navbar");
                var v = document.querySelector(":root");
                if (topper > 200) {
                    navbar.setAttribute("style", "background-color: white;");
                    v.style.setProperty("--color_fill", "black")

                } else {
                    navbar.removeAttribute("style", "background-color: white;");
                    v.style.setProperty("--color_fill", "white")

                }

            }
            addEventListener('scroll', (event) => {

                changeNavBarColor();


            });
            window.addEventListener("scroll", reveal);
            changeNavBarColor();
            reveal();
        </script>

        {%endblock%}
