{%load static%}
<!DOCTYPE html>
<html lang="en" style="overflow: hidden; height: 100%">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body
    style="
      font-family: 'verdana', courier sans-serif;
      margin: 0;
      overflow: auto;
      height: 100%;
    "
  >
    <div class="thankyou-contact">
      <h2>Message from {{email}}</h2>
      <p>{{message}}</p>
    </div>
  </body>
</html>
