{% extends 'miettes/basedev.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/thankyou.css' %} " />

<div class="thankyou-content">
  <h1 class="thankyou-title">THANK YOU!</h1>
  <h2 class="thankyou-subtitle">Your order was completed successfully</h2>
  <h2 class="thankyou-orderNumber">
    Your order number:
    <strong>{{ orderNumber }}</strong>
  </h2>

  <h3 class="thankyou-explanation">
    An email receipt including the details about your order has been sent to the
    email address provided. Please keep it for your records
  </h3>
</div>

{% endblock %}
