.checkoutPage {
  display: flex;
  flex-direction: row;
}

.checkoutHandling {
  width: 70%;
  background-color: var(--checkout_bg_color);
  padding-left: 10%;
  padding-right: 10%;
}

.checkoutCart {
  width: 30%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  z-index: 3;
}

.checkout-logo-mobile {
  display: none;
}

.checkoutCart-items {
  list-style: none;
  padding: 10px;
  margin-top: 50px;
}
.checkoutCartItem {
  position: relative;
  width: 100%;
  max-height: 150px;
  display: flex;
  /* max-width: 400px; */
  align-items: flex-start;
  margin-bottom: 20px;
}

.checkoutCartItem-img {
  width: 15%;
  /* height: 20%; */
  object-fit: cover;
  border-radius: 10%;
}

.checkoutCartItem-name {
  position: absolute;
  top: 0;
  left: 20%;
  right: 0;
  margin: 0;
}

.checkoutCartItem-sizeAndColor {
  position: absolute;
  top: 35%;
  margin: 0;
  left: 20%;
  right: 0;
}

.checkoutCartItem-price {
  position: absolute;
  top: 35%;
  margin: 0;
  right: 0;
}

.seperatorLine {
  margin-left: 10px;
  width: 100%;
  align-items: flex-start;
  /* max-width: 400px; */
}

.total {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  max-width: 400px;
}
.totalLabel {
  width: 80%;
}
.totalAmount {
  width: 20%;
}

.input-container {
  border: solid 1px #ccc;
  position: relative;
  font-family: var(--other_font);
  margin-bottom: 20px;
}
.input-container input,
.input-container select {
  font-family: var(--other_font);
  border: none;
  font-size: 16px;
  outline: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 50px;
  padding: 0;
  border-radius: 5px;
  margin-right: 30px;
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 14px;
}
label {
  white-space: nowrap;
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(3px, 3px) scale(1);
  transition: all 0.1s ease-in-out;
}
.input-container.active label {
  transform: translate(0, 4px) scale(0.75);
}

.inputLabel {
  opacity: 0.5;
}

.fullName {
  display: flex;
  flex-direction: row;
}

.fname {
  width: 50%;
  margin-right: 50px;
}
.lname {
  width: 50%;
}

.processBtn {
  align-items: flex-end;
}

.accordion {
  display: none;
}

@media screen and (max-width: 890px) {
  .accordion {
    display: block;
  }
  .checkoutPage {
    background-color: var(--checkout_bg_color);
    flex-direction: column-reverse;
  }
  .checkoutHandling {
    width: 100%;
  }
  .checkoutCart {
    width: 100%;
    min-height: 100%;
  }

  .checkout-logo {
    display: none;
  }
  #checkout-cart {
    display: none;
  }
  body {
    background-color: var(--checkout_bg_color);
  }

  .checkoutCartItem-price {
    font-size: 22px;
  }

  .checkout-logo-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
  }
}
.review-order {
  display: flex;
  flex-direction: column;
}

.review-area {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.review-area hr {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 95%;
  align-items: flex-start;
  opacity: 0.4;
}

.contact-row,
.ship-row,
.cost-row,
.cartItem-row,
.subtotal {
  padding: 10px;
  opacity: 1;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.cartItem-row {
  opacity: 1;
}

.total {
  padding: 10px;
  font-size: 20px;
  margin: 0;
}

.total-area {
  margin-top: 30px;
}

.process-button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#orderBtn,
#processBtn,
#changeBtn {
  text-align: end;
  margin-top: 20px;
  background: white;
  color: inherit;
  border: 1px solid var(--font_color);
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 0;
}

#changeBtn {
  height: 100%;
  min-width: 80px;
  text-align: center;
  margin-top: 30px;
}

#orderBtn {
  min-width: 80px;
  text-align: center;
  margin-top: 30px;
}

.accordionDetails {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px 10% 18px 10%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activate,
.accordionDetails:hover {
  background-color: #ccc;
}

.accordionDescription {
  max-width: 300px;
  word-wrap: break-word;
}
.accordionDetails:after {
  color: #777;
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
}

.summary-label {
  width: 100%;
}
.summary-label:after {
  content: "  \25BC";
}

.activate-sum::after {
  content: "  \25B2";
}

.panel {
  /* padding: 0 18px; */
  display: none;
  background-color: white;
  /* overflow: hidden; */ /* this is the key */
}

.total-value {
  font-size: 30px;
  font-weight: bold;
  opacity: 1;
}

address {
  font-style: normal;
  opacity: 1;
}

.cost-label,
.address-label,
.contact-label {
  opacity: 0.6;
}

.cost-value {
  opacity: 1;
  color: var(--font_color);
}
