.navbar-miettes {
  background-color: white;
}

body {
  margin-top: 100px;
  font-family: var(--other_font);
}

* {
  box-sizing: border-box;
}

#contactUsName,
#contactUsEmail,
select,
#contactUsArea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactUsSubmit {
  background-color: rgb(211, 224, 234);
  color: rgb(68, 76, 87);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.contactUsSubmit:hover {
  font-weight: 600;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 100px;
}

@media only screen and (max-width: 550px) {
  .column {
    width: 100%;
  }
}
