.navbar-miettes {
  background-color: white;
}

.faq-container {
  margin-top: 100px;
  font-family: var(--other_font);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

.faq-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-inline: 20%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

.faq-title {
  text-align: center;
  color: var(--lighter_accent_color);
  font-family: var(--title_font);
}

.accordion-faq {
  width: 100%;
  /* background-color: #eee; */
  color: var(--font_color);
  cursor: pointer;
  padding: 18px;
  min-width: 300px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  border-bottom: 1px solid var(--lighter_accent_color);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

/* .activate,
  .accordionDetails:hover {
    /* background-color: #ccc; */

.accordionDescription-faq {
  word-wrap: break-word;
  padding-inline: 18px;
  text-align: justify;
  padding-top: 10px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

.accordionDescription-faq a {
  color: var(--lighter_accent_color);
  display: inline;
  text-decoration: none;
}
.accordion-faq:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activate:after {
  content: "\2212";
}

.zone-output {
  color: var(--lighter_accent_color);
}

.panel {
  /* padding: 0 18px; */
  display: none;
  background-color: white;

  /* overflow: hidden; */
}

.sizing-table,
th,
td {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 20px;
  white-space: nowrap;
  padding: 10px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

.sizing-table-row {
  padding: 20px;
}

@media screen and (max-width: 620px) {
  .faq-content {
    padding-inline: 8%;
  }

  .sizing-table,
  th,
  td {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;
    white-space: nowrap;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }

  .sizing-table-row {
    padding: 20px;
  }
}
.input-container {
  border: solid 1px var(--lighter_accent_color);
  position: relative;
  font-family: var(--other_font);
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 10px;
}
.input-container input,
.input-container select {
  font-family: var(--other_font);
  border: none;
  font-size: 16px;
  outline: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  padding: 0;
  border-radius: 5px;
  margin-right: 30px;
}

.input-container label {
  color: var(--lighter_accent_color);
}

.newsletter,
.socials,
.links {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}
