.coverPhoto {
  position: relative;
}

.coverImg {
  width: 100%;
  /* max-height: 800px; */
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  animation: fadeIn 2s;
}

.btn {
  position: absolute;
  top: 0;
  /* opacity: 0.5; */
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-appearance: none;
  font-family: var(--title_font);
  color: white;
  background-color: transparent;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 35px;
  cursor: pointer;
  border: 1px solid white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cover-photo {
  margin: 0;
  padding: 0;
}

.slider-picks {
  margin-top: 100px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 60px;
}
.card {
  display: inline-block;
  margin-right: 50px;
}

.cardImg {
  width: 60vw;
  height: 90vw;
  max-height: 400px;
  max-width: 300px;
  object-fit: cover;
}
.productTitle,
.slider-title,
.productPrice {
  font-family: var(--title_font);
  text-align: center;
}

.productPrice {
  font-family: var(--other_font);
  margin-top: -15px;
}

.slider-title {
  font-size: 40px;
}

.cards {
  display: flex;

  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.collectionSection {
  display: block;
  max-width: 1300px;
  margin: auto;
}

.cardCollection {
  position: relative;
  overflow: hidden;
  margin: 0 10px 20px;
  color: white;
  width: calc(45% - 20px);
  height: 50vw;
  max-height: 300px;
}

.cardCollectionImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardCollection:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  transition: all 0.25s ease-out;
}
/* @media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.collection-title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  font-family: var(--title_font);
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.collection-title-content {
  position: relative;
  display: inline-block;
  z-index: 3;
  text-align: center;
}

.collection-title-content::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.collection-title-content:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cardCollection:hover img {
  filter: brightness(50%);
  transition: filter 0.25s ease-out;
}

.newsletterForm {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
  width: 40%;
  height: 40%;
}

.newsletterForm a,
.newsletterForm a:visited {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 769px) {
  .cardCollection {
    margin: 0 20px 40px;
    width: calc(25% - 40px);
    height: 15vw;
  }
}

@media only screen and (max-width: 769px) {
  .newsletterForm {
    width: 80%;
  }
}
