.navbar-miettes {
  background-color: white;
}
.products-grid-table {
  width: 100%;
  /* margin-top: 100px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.grid-item {
  margin-left: 10px;
  margin-right: 10px;
  margin: 80px 10px 20px;
  margin-bottom: 50px;
  color: white;
  width: calc(50% - 20px);
  height: 60vw;
}

.products-grid {
  min-height: 100vh;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  color: var(--lighter_accent_color);
  font-family: var(--title_font);
}

.collection-intro h1 {
  font-size: 32px;
  margin-block: 0;
  margin-bottom: 20px;
}

@media only screen and (min-width: 769px) {
  .grid-medium {
    width: calc(25% - 40px);
    height: 30vw;
    margin: 80px 20px 40px;
  }

  .ProductPrice {
    padding: 0;
    margin-top: -15px;
  }
}

.ProductName,
.ProductPrice {
  color: var(--font_color);
  font-family: var(--title_font);
  text-align: center;
  font-size: 20px;
}

.ProductPrice {
  padding: 0;
  margin-top: -15px;
  font-family: var(--title_font);
  font-size: 15px;
}

.searchResults {
  text-align: center;
  padding-top: 70px;
  font-family: var(--title_font);
  color: var(--lighter_accent_color);
  font-size: 32px;
}

.hidden-label {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.filters {
  display: flex;
  justify-content: flex-end;
  color: var(--font_color);
  padding-left: 10px;
}

.collection-filter__item select {
  color: var(--font_color);
}

.collection-filter {
  margin-bottom: -40px;
  justify-content: flex-end;
  margin-top: 100px;
  margin-right: 25px;
  display: flex;
  font-family: var(--other_font);
}
.collection-filter select {
  background-image: url("../images/down-triangle.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-color: transparent;
  display: block;
  width: 100%;
  font-family: var(--other_font);
  border: 0;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--font_color);
  vertical-align: middle;
  padding-right: 28px;
  /* background: transparent; */
  /* -webkit-appearance: none; */
  -webkit-appearance: none;
  outline: none;
  min-width: 80px;
}
