


body {
  margin: 0;
  font-family:quicksand;
  background-color:rgb(246, 246, 246);
  color:rgb(68, 76, 87);
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; 
  margin: 0; 


}

* {
  box-sizing: border-box;
}

#myTopnav{background: rgba(255, 255, 255, 0);
display: flex;


  }

a:visited{
  color: rgb(68, 76, 87) !important;
}

.menu{margin: 0;padding: 2px;list-style: none; }
.menu a{display: block; text-decoration: none; font-size: 20px; color:rgb(68, 76, 87); padding: 35px 10px; }
.menu a:hover,.menu a:focus{font-weight: 600; }
 .logo-show-md img:hover { transform: scale(1.0);}
.logo a,
.logo img{display: block; width: 200px;}

@media screen and (min-width: 600px){
    .menu{display: flex;
       max-width: 400px;
        margin:0 auto;
         justify-content: center; 
         align-items: center;
        }

    .logo-show-sm{display: none;}

}

@media screen and (max-width: 600px){
    .logo-show-md{display: none;}
 .logo img {width: 180px;
        position: absolute;
        transform: translateX(-50%);
         left: 50%;
        top: 7%; 

    }

}

#myTopnav .icon {
    display: none;

  }

  @media screen and (max-width: 600px) {
    .menu a    {
      display: none; }

     #myTopnav a.icon {
        display: block;
        text-align: left;
        padding: 50px;
        color:rgb(68, 76, 87);
        text-decoration:none
        
      }

  }

  @media screen and (max-width: 600px) {

    #myTopnav.responsive {position: relative;}
    #myTopnav.responsive.icon {
      position:absolute;
      right: 0;
      top: 0;

    }
    #myTopnav.responsive a {
      float: none;
      display: block;

    }
  

    #myTopnav.responsive  {
      position: relative;
    }
    #myTopnav.responsive {
      display: block;
      width: 100%;
      text-align: center;
    }
  
  }
    

.botnavContainer{

  min-height:50px; 

}

    .botnav {

      text-align: center;
      margin-top: 5px;
      width: 100%;
    }

   .botnav a {
      padding: 16px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      color:rgb(67, 80, 124);

   }
   .botnav a:hover {font-weight:600}
   .facebook, .instagram ,.twitter,.float,.my-float {
      color: rgb(67, 80, 124);
    }

   .link {
     font-family: quicksand;
     font-size: 20px;
     margin-left: 10px;
   }
   @media screen and (max-width: 700px) {
     .botnav {
       width: 100%;
       display: block;
     }


}

.menu a:hover,.menu a:focus{font-weight: 600;}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


.cartMenu{
  padding: 2px;
  list-style: none; 
  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center; 
  min-width: 40px;
}