{% load static %}
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.active img {
   display: block;
   width: 120px;
    height: 50px;
    border-radius: 0%;
    overflow: hidden;
    position: absolute;
    margin-left:200px;
    margin-top: -80px;



}

.topnav {
  overflow:hidden;
  background-color: hsl(0, 0%, 100%);
  margin-left: 400px;


}

.topnav a {
  float: left;
  display: block;
  color: rgb(170, 152, 152);
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 70px;

}
.topnav .user, .topnav .cart {float: right;}

.topnav a:hover {
  background-color: rgba(102, 79, 72, 0);
  color: rgb(97, 55, 146);
  border-radius: 50px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border:rgb(139, 139, 84);
  width: auto;
  border: 1px solid #e8e9e18a;
  border-radius: 2px;

}

.topnav .search-container button {
  float: right;
  padding: 10px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgba(236, 233, 233, 0);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: rgb(166, 185, 192);
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 border-bottom:150px solid rgb(255, 255, 255) ;
}



.img1 { background-image: url("images/DSC_4376.jpeg"); }
.img2 { background-image: url("images/DSC_4525.jpeg"); }
.img3 { background-image: url("images/DSC_4565_0.jpeg"); }
.img4 { background-image: url("images/DSC_4602\ copy.jpeg"); }
.img5 { background-image: url("images/DSC_4717.jpeg"); }
.img6 { background-image: url("images/DSC_4376.jpeg"); }


  .btn, .btn2 ,.btn3 ,.btn4 ,.btn5 ,.btn6 {
    background-color: rgba(161, 165, 167, 0.295);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 12px 24px;
    border:cadetblue;
    border-width: 100px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    border:2px solid #dde5d341;

  }

  .btn:hover , .btn2:hover , .btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover {
    background-color: rgb(187, 222, 228);
  }

.btn, .btn2 ,.btn3 ,.btn4 ,.btn5 ,.btn6 { transform: translate(30%, 1200%);}
.container {
   position:static;
   bottom: 0;
   text-align: center;
   margin-top: 5px;
   width: 100%;
   background-color: #ffffff;
}
.container a {
   padding: 16px;
   font-size: 20px;
   text-align: center;
}
.facebook, .instagram ,.twitter {
   color: rgb(67, 80, 124);}

.link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  ;
  margin-left: 10px;
}

.newsletter {float:none}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #d8e0cf00;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #d8e0cf;
  color: white;
  border: none;
  width: auto;
}

input[type=submit]:hover {
  opacity: 0.8;
}
