@font-face {
  font-family: 'AbrilFatface';
  src: local('AbrilFatface'),
  url('./fonts/AbrilFatface-Regular.ttf') format("truetype");

}
@font-face {
  font-family: 'LibreBaskerville';
  src: local('LibreBaskerville'),
  url('./fonts/LibreBaskerville-Regular.ttf') format("truetype");

}


body {
  margin: 0;
  font-family: LibreBaskerville;
  background-color: #FFFF;
  color:rgb(68, 76, 87);
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; 
  margin: 0; 


}

* {
  box-sizing: border-box;
}

#myTopnav{background: rgba(255, 255, 255);
display: flex;

margin-bottom: 10px;

  }

a:visited{
  color: rgb(68, 76, 87) !important;
}

.menu{margin: 0;padding: 0;list-style: none; }
.menu a{display: block; text-decoration: none; font-size: 20px; color:rgb(68, 76, 87); padding: 20px 10px; }
.menu a:hover,.menu a:focus{font-weight: 600; }
 .logo-show-md img:hover { transform: scale(1.0);}
.logo a,
.logo img{display: block; width: 200px;}

.cartMenu{
  padding: 2px;
  list-style: none; 
  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center; 
  min-width: 40px;
}

@media screen and (min-width: 715px){
    .menu{display: flex;
       max-width: 400px;
        margin:0 auto;
         justify-content: center; 
         align-items: center;
        }

    .logo-show-sm{display: none;}

}

@media screen and (max-width: 715px){
  /* .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  
      } */
    .logo-show-md{display: none;}

    .logo img{
      width: 150px;
      margin-top: 10px;
      margin-bottom: 10px;
    }


}

#myTopnav .icon {
    display: none;

  }

  @media screen and (max-width: 715px) {
    .menu a {
      display: none; 
    }


    .cartMenu a {
      right: 0;
      top: 10px;

      margin: 20px;
      position: absolute;
      display: block;
     
       color:rgb(68, 76, 87);
       text-decoration:none;
       line-height: normal;
       
     }

     #myTopnav a.icon{
        right: 30px;
        top: 0;
 
        margin: 20px;
        position: absolute;
        display: block;
       
         color:rgb(68, 76, 87);
         text-decoration:none
         
       }






  }

  @media screen and (max-width: 715px) {

    #myTopnav.responsive {position: relative;
      animation-timing-function: linear;
}

    #myTopnav.responsive a {
      float: none;
      display: block;

    }
  

    #myTopnav.responsive  {
      position: relative;
    }
    #myTopnav.responsive {
      display: block;
      width: 100%;
      text-align: center;
    }


  }
    

.botnavContainer{

  min-height:50px; 

}

    .botnav {

      text-align: center;
      margin-top: 5px;
      width: 100%;
    }

   .botnav a {
      padding: 16px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      color:rgb(67, 80, 124);

   }
   .botnav a:hover {font-weight:600}
   .facebook, .instagram ,.twitter,.float,.my-float {
      color: rgb(67, 80, 124);
    }

   .link {
     font-family: AbrilFatface;
     font-size: 20px;
     margin-left: 10px;
   }
   @media screen and (max-width: 700px) {
     .botnav {
       width: 100%;
       display: block;
     }


}

.menu a:hover,.menu a:focus{font-weight: 600;}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

ul{
  margin-top: 16px;
}

.inButton{
  position: absolute;
  bottom:0;
  left: 0;
  width:5%;
  background-color: transparent;
  color: transparent;
  border-color: transparent;
  cursor: default;

}